.page {
   // .page__vacancies

   &__vacancies {
      margin: 119px 0px 119px 0px;
   }

   // .page__vacancies-content

   &__vacancies-content {
      max-width: 1461px;
      margin: 0 auto;
   }

   // .page__vacancies-content-title

   &__vacancies-content-title {
      margin: 0px 0px 45px 0px;
   }

   // .page__vacancies-content-title-h1

   &__vacancies-content-title-h1 {
      font-size: 40px;
      font-weight: 400;
      line-height: 50px;
      letter-spacing: 0.05em;
      text-align: center;
      color: #353434;
      margin: 0px 0px 20px 0px;
   }

   // .page__vacancies-content-title-text

   &__vacancies-content-title-text {
      width: 543px;
      font-family: Open Sans;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.02em;
      text-align: center;
      padding: 0px 0px 45px 0px;
      margin: 0 auto;
      @media (max-width: 1199.98px) {
         padding: 20px 0px 20px 20px;
      }
      @media (max-width: 990.98px) {
         padding: 20px 0px 20px 20px;
         width: 340px;
      }
      @media (max-width: 767.98px) {
         min-height: 0;
         width: 240px;
         padding: 20px 0px 20px 20px;
      }
   }

   // .page__vacancies-content-arrow

   &__vacancies-content-arrow {
      display: flex;
      align-items: center;
      @media (max-width: 1199.98px) {
         padding: 20px 0px 20px 20px;
         display: none;
      }
      @media (max-width: 990.98px) {
         padding: 20px 0px 20px 20px;
         display: none;
      }
      @media (max-width: 767.98px) {
         min-height: 0;
         display: none;
         padding: 20px 0px 20px 20px;
      }
   }

   // .page__vacancies-content-arrow-left

   &__vacancies-content-arrow-left {
      margin: 0px 10px 0px 0px;
   }

   // .page__vacancies-content-arrow-right

   &__vacancies-content-arrow-right {
      margin: 0px 51px 0px 10px;
   }

   // .page__vacancies-content-card

   &__vacancies-content-card {
      display: flex;
      justify-content: space-between;
      margin: 0px 0px 76px 0px;
      @media (max-width: 1199.98px) {
         padding: 20px 0px 20px 20px;
         display: grid;
         grid-template-columns: 1fr 1fr;
      }
      @media (max-width: 990.98px) {
         padding: 20px 0px 20px 20px;
         display: flex;
         flex-direction: column;
      }
      @media (max-width: 767.98px) {
         min-height: 0;
         display: flex;
         flex-direction: column;
         padding: 20px 0px 20px 20px;
      }
   }

   // .page__vacancies-content-card-block-1

   &__vacancies-content-card-block-1 {
      width: 380px;
      height: 100%;
      border-radius: 20px 0px 0px 0px;
      background-color: #f9faff;
      box-shadow: 0px 12px 30px 0px #47474726;
      margin: 0px 65px 0px 0px;
   }

   // .page__vacancies-content-card-block-img-1

   &__vacancies-content-card-block-img-1 {
      display: flex;
      justify-content: center;
   }

   // .page__vacancies-content-card-block-picture

   &__vacancies-content-card-block-picture {
      margin: 47px 0px 41px 0px;
   }

   // .page__vacancies-content-card-block-etc

   &__vacancies-content-card-block-etc {
      display: flex;
      justify-content: end;
      margin: 40px 40px 0px 0px;
   }

   // .page__vacancies-content-card-block-h2

   &__vacancies-content-card-block-h2 {
      font-family: Open Sans;
      font-size: 20px;
      font-weight: 400;
      line-height: 50px;
      letter-spacing: 0.02em;
      text-align: center;
      color: #323232;
      margin: 0px 0px 16px 0px;
   }

   // .page__vacancies-content-card-block-h3

   &__vacancies-content-card-block-h3 {
      font-family: Open Sans;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0.02em;
      text-align: center;
      color: #4238af;
      margin: 0px 0px 44px 0px;
   }

   // .page__vacancies-content-card-block-price

   &__vacancies-content-card-block-price {
      font-family: Open Sans;
      font-size: 16px;
      font-weight: 400;
      line-height: 50px;
      letter-spacing: 0.02em;
      text-align: center;
      color: #323232;
      margin: 0px 0px 7px 0px;
   }

   // .page__vacancies-content-card-block-price-picture-span

   &__vacancies-content-card-block-price-picture-span {
   }

   // .page__vacancies-content-card-block-price-img

   &__vacancies-content-card-block-price-img {
      margin: 15px auto;
   }

   // .page__vacancies-content-card-block-price-span

   &__vacancies-content-card-block-price-span {
      font-family: Open Sans;
      font-size: 14px;
      font-weight: 400;
      line-height: 50px;
      letter-spacing: 0.02em;
      text-align: center;
      color: #323232;
   }

   // .page__vacancies-content-card-block-location

   &__vacancies-content-card-block-location {
      font-family: Open Sans;
      font-size: 16px;
      font-weight: 400;
      line-height: 50px;
      letter-spacing: 0.02em;
      text-align: center;
      color: #323232;
      margin: 7px 0px 0px 0px;
   }

   // .page__vacancies-content-card-block-location-picture-span

   &__vacancies-content-card-block-location-picture-span {
   }

   // .page__vacancies-content-card-block-location-img

   &__vacancies-content-card-block-location-img {
      margin: 15px auto;
   }

   // .page__vacancies-content-card-block-location-span

   &__vacancies-content-card-block-location-span {
      font-family: Open Sans;
      font-size: 16px;
      font-weight: 400;
      line-height: 50px;
      letter-spacing: 0.02em;
      text-align: center;
      color: #323232;
   }

   // .page__vacancies-content-card-block-btn-1

   &__vacancies-content-card-block-btn-1 {
      margin: 33px 0px 47px 0px;
      display: flex;
      justify-content: space-evenly;
   }

   // .page__vacancies-content-card-block-btn-1-like

   &__vacancies-content-card-block-btn-1-like {
   }

   // .page__vacancies-content-card-block-btn-1-text

   &__vacancies-content-card-block-btn-1-text {
      width: 152px;
      height: 100%;
      border-radius: 47px;
      background-color: #544cac;
      font-family: Open Sans;
      font-size: 16px;
      font-weight: 400;
      line-height: 62px;
      letter-spacing: 0.02em;
      text-align: center;
      color: #fff;
      box-shadow: 0px 4px 12px 0px #00000033;
   }

   // .page__vacancies-content-card-block

   &__vacancies-content-card-block {
      width: 380px;
      height: 100%;
      border-radius: 20px 0px 0px 0px;
      box-shadow: -1px 1px 20px 0px #8080801a;
      background-color: #ffffff;
      margin: 80px 65px 0px 0px;
   }

   // .page__vacancies-content-card-block-img-2

   &__vacancies-content-card-block-img-2 {
      display: flex;
      justify-content: center;
   }

   // .page__vacancies-content-card-block-btn

   &__vacancies-content-card-block-btn {
      margin: 33px 0px 47px 0px;
      display: flex;
      justify-content: space-evenly;
   }

   // .page__vacancies-content-card-block-btn-like

   &__vacancies-content-card-block-btn-like {
   }

   // .page__vacancies-content-card-block-btn-text

   &__vacancies-content-card-block-btn-text {
      width: 152px;
      height: 100%;
      border-radius: 47px;
      background-color: #38318b54;
      font-family: Open Sans;
      font-size: 16px;
      font-weight: 400;
      line-height: 62px;
      letter-spacing: 0.02em;
      text-align: center;
      color: #38318b;
   }

   // .page__vacancies-content-card-block-img-3

   &__vacancies-content-card-block-img-3 {
      display: flex;
      justify-content: center;
   }

   // .page__vacancies-content-btn

   &__vacancies-content-btn {
      width: 152px;
      height: 100%;
      border-radius: 47px;
      background-color: #544cac;
      box-shadow: 0px 4px 12px 0px #00000033;
      margin: 0 auto;
      text-align: center;
   }

   // .page__vacancies-content-btn-text

   &__vacancies-content-btn-text {
      font-family: Open Sans;
      font-size: 16px;
      font-weight: 400;
      line-height: 62px;
      letter-spacing: 0.02em;
      text-align: center;
      color: #fff;
   }
}
