.page {
   // .page__content-partners

   &__partners {
      display: flex;
      justify-content: space-between;
      max-width: 1110px;
      margin: 0 auto;
      @media (max-width: 1199.98px) {
         padding: 0px 0px 20px 20px;
      }
      @media (max-width: 990.98px) {
         padding: 0px 0px 20px 20px;
      }
      @media (max-width: 770.98px) {
         padding: 0px 0px 20px 20px;
         display: grid;
         grid-template-columns: 1fr 1fr 1fr;
      }
      @media (max-width: 450.98px) {
         padding: 0px 0px 20px 20px;
         display: grid;
         grid-template-columns: 1fr 1fr;
      }
   }

   // .page__content-partners-logo

   &__partners-logo {
      margin: 32px 0px 66px 0px;
   }

   // .page__content-partners-logo-image

   &__partners-logo-image {
   }
}
