/* Reset and base styles  */
*,
*::before,
*::after {
   padding: 0px;
   margin: 0px;
   border: none;
   box-sizing: border-box;
}

/* Links */

a,
a:visited {
   color: inherit;
   text-decoration: none;
}

a:hover {
   color: inherit;
   text-decoration: none;
}

a:focus,
a:active {
   outline: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
   display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
   font-size: inherit;
   font-weight: inherit;
   line-height: inherit;
}

p + p {
   margin-top: 1em;
}

ul {
   list-style: none;
}

img,
svg {
   vertical-align: top;
   max-width: 100%;
   height: auto;
}

/* Form */

input,
textarea,
button,
select {
   font-family: inherit;
   font-size: inherit;
}

input::-ms-clear {
   display: none;
}

button,
input[type="submit"] {
   display: inline-block;
   box-shadow: none;
   background-color: transparent;
   background: none;
   cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
   outline: none;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

label {
   cursor: pointer;
}

legend {
   display: block;
}
/* Reset and base styles end */

body {
   height: 100%;
   line-height: 1;
   font-family: Open Sans;
   font-size: 14px;
   color: #a8a8a8;
   @media (max-width: 1199.98px) {
      max-width: 100%;
   }
   @media (max-width: 990.98px) {
      max-width: 100%;
   }
   @media (max-width: 767.98px) {
      max-width: none;
   }
}

.main {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   // .main__container

   &__container {
   }
}

.block {
   // .block__header

   &__header {
      background-color: #f5f7ff;
   }
}
.header {
   // .header__menu

   &__menu {
      max-width: 1110px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 46px;
      padding: 10px 0px;
      @media (max-width: 1199.98px) {
         padding: 20px 0px 20px 20px;
      }
      @media (max-width: 990.98px) {
         padding: 20px 0px 20px 20px;
      }
      @media (max-width: 767.98px) {
         min-height: 0;
         flex-direction: column;
         padding: 20px 0px 20px 20px;
      }
   }

   // .header__logo

   &__logo {
      display: flex;
   }

   // .header__logo-image

   &__logo-image {
   }

   // .header__logo-text

   &__logo-text {
      font-family: Odibee Sans;
      font-weight: 400;
      font-size: 29px;
      color: #272626;
      margin: 10px 0px 0px 0px;
      padding: 0px 56px 0px 0px;
   }

   // .header__menu-nav

   &__menu-nav {
   }

   // .header__menu-list

   &__menu-list {
      display: flex;
      flex-wrap: wrap;
      column-gap: 15px;
      row-gap: 5px;
   }

   // .header__menu-list-item

   &__menu-list-item {
      font-family: Open Sans;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.02em;
      text-align: center;
      color: #272323;
      margin: 5px 0px 0px 0px;
   }

   // .header__menu-list-item-link

   &__menu-list-item-link {
   }

   // .header__menu-list-search

   &__menu-list-search {
   }

   // .header__menu-list-search-input

   &__menu-list-search-input {
      width: 297px;
      height: 35px;
      border-radius: 50px;
      background-color: #fff;
      margin: 0px 26px 0px 57px;
      padding: 10px 50px 10px 19px;
      @media (max-width: 767.98px) {
         width: 200px;
         margin: 0px 0px 0px 0px;
      }
   }

   // .header__menu-list-search-icon

   &__menu-list-search-icon {
      background: #b9c5f0;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      // margin: auto;
      position: relative;
      left: -75px;
      margin: 0px 0px 0px 10px;
      @media (max-width: 767.98px) {
         position: relative;
      }
   }

   // .header__menu-list-search-icon-btn

   &__menu-list-search-icon-btn {
      padding: 2px 0px 0px 0px;
   }

   // .header__menu-list-user

   &__menu-list-user {
      margin: 10px 0px 0px 0px;
      color: #272323;
   }

   // .header__menu-list-user-link

   &__menu-list-user-link {
   }
}

.page {
   flex: 1 1 auto;

   // .page__content

   &__content {
      background-color: #f5f7ff;
   }

   // ========     ==============

   // page__content-block

   &__content-block {
      max-width: 1110px;
      margin: 0px auto;
   }

   // .page__content-title

   &__content-title {
      display: flex;
      @media (max-width: 1199.98px) {
         padding: 0px 0px 20px 20px;
      }
      @media (max-width: 990.98px) {
         min-height: 0;
         flex-direction: column;
         padding: 0px 0px 20px 20px;
      }
   }

   // page__content-title-info

   &__content-title-info {
      flex: 0 1 50%;
   }

   // page__content-title-info-h1

   &__content-title-info-h1 {
      font-family: Open Sans;
      font-size: 45px;
      font-weight: 400;
      line-height: 55px;
      letter-spacing: 0.07em;
      text-align: left;
      color: #353434;
      margin: 125px 0px 0px 0px;
      padding: 0px 0px 18px 0px;
   }

   // page__content-title-info-span

   &__content-title-info-span {
      color: #ff5c00;
   }

   // page__content-title-info-text

   &__content-title-info-text {
      font-family: Open Sans;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.02em;
      text-align: left;
      padding: 0px 0px 30px 0px;
   }

   // .page__content-btn

   &__content-btn {
   }

   // .page__content-btn-1

   &__content-btn-1 {
      width: 150px;
      height: 44px;
      border-radius: 6px;
      background: #544cac;
      color: #fff;
      margin: 0px 34px 0px 0px;
   }

   // .page__content-btn-2

   &__content-btn-2 {
      width: 150px;
      height: 44px;
   }

   // .page__content-btn-2-text

   &__content-btn-2-text {
      font-family: Open Sans;
      font-size: 14px;
      font-weight: 400;
      line-height: 42px;
      letter-spacing: 0.02em;
      text-align: center;
      color: #000;
      margin: 0px 0px 0px 5px;
   }

   // page__content-btn-2-img

   &__content-btn-2-img {
      margin: 0px 5px 0px 0px;
   }

   // .page__content-image

   &__content-image {
      flex: 0 1 50%;
      margin: 56px 0px 0px 0px;
      width: 100%;
   }

   //======         ========

   // .page__content-partners

   &__partners {
      display: flex;
      justify-content: space-between;
      max-width: 1110px;
      margin: 0 auto;
      @media (max-width: 1199.98px) {
         padding: 0px 0px 20px 20px;
      }
      @media (max-width: 990.98px) {
         padding: 0px 0px 20px 20px;
      }
      @media (max-width: 770.98px) {
         padding: 0px 0px 20px 20px;
         display: grid;
         grid-template-columns: 1fr 1fr 1fr;
      }
      @media (max-width: 450.98px) {
         padding: 0px 0px 20px 20px;
         display: grid;
         grid-template-columns: 1fr 1fr;
      }
   }

   // .page__content-partners-logo

   &__partners-logo {
      margin: 32px 0px 66px 0px;
   }

   // .page__content-partners-logo-image

   &__partners-logo-image {
   }

   // ===========    ====================

   // .page__job

   &__job {
      max-width: 1110px;
      margin: 0 auto;
   }

   // .page__job-content

   &__job-content {
      margin: 66px 0px 0px 0px;
   }

   // .page__job-content-block

   &__job-content-block {
      display: flex;
      @media (max-width: 1199.98px) {
         padding: 0px 0px 20px 20px;
      }
      @media (max-width: 990.98px) {
         min-height: 0;
         flex-direction: column;
         padding: 0px 0px 20px 20px;
      }
   }

   // .page__job-block-title

   &__job-block-title {
      flex: 0 1 50%;
   }

   // .page__job-block-title-info

   &__job-block-title-info {
   }

   // .page__job-block-title-info-h3

   &__job-block-title-info-h3 {
      font-size: 12px;
      font-weight: 400;
      line-height: 50px;
      letter-spacing: 0.05em;
      text-align: left;
      color: #ff5c00;
      margin: 0px 0px 19px 0px;
   }

   // .page__job-block-title-info-h1

   &__job-block-title-info-h1 {
      font-size: 40px;
      font-weight: 400;
      line-height: 50px;
      letter-spacing: 0.05em;
      text-align: left;
      color: #353434;
      margin: 0px 82px 46px 0px;
   }

   // .page__job-block-title-info-list

   &__job-block-title-info-list {
      margin: 0px 0px 0px 30px;
   }

   // .page__job-block-title-info-item

   &__job-block-title-info-item {
   }

   // .page__job-block-title-info-item-link-1

   &__job-block-title-info-item-link-1 {
      font-family: Open Sans;
      font-size: 16px;
      font-weight: 600;
      line-height: 50px;
      letter-spacing: 0.02em;
      text-align: left;
      color: #323232;
      // width: 435px;
      // height: 58px;
      // top: 1035px;
      // left: 165px;
      // gap: 0px;
      // border-radius: 8px 0px 0px 0px;
      // opacity: 0px;
      // background-color: #f5f7ff;
      // margin: 0px 0px 22px 0px;
   }

   // .page__job-block-title-info-item-link-2

   &__job-block-title-info-item-link-2 {
      font-family: Open Sans;
      font-size: 16px;
      font-weight: 600;
      line-height: 50px;
      letter-spacing: 0.02em;
      text-align: left;
      color: #323232;
      // width: 435px;
      // height: 118px;
      // top: 1035px;
      // left: 165px;
      // gap: 0px;
      // border-radius: 8px 0px 0px 0px;
      // opacity: 0px;
      // background-color: #f5f7ff;
      // margin: 0px 0px 22px 0px;
   }

   // .page__job-block-title-info-item-link-2-text

   &__job-block-title-info-item-link-2-text {
      font-family: Open Sans;
      font-size: 12px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0.02em;
      text-align: left;
      color: #a8a8a8;
      margin: 0px 0px 0px 0px;
   }

   // .page__job-block-title-info-item-link-3

   &__job-block-title-info-item-link-3 {
      font-family: Open Sans;
      font-size: 16px;
      font-weight: 600;
      line-height: 50px;
      letter-spacing: 0.02em;
      text-align: left;
      color: #323232;
      // width: 435px;
      // height: 58px;
      // top: 1035px;
      // left: 165px;
      // gap: 0px;
      // border-radius: 8px 0px 0px 0px;
      // opacity: 0px;
      // background-color: #f5f7ff;
      // margin: 0px 22px 22px 0px;
   }

   // .page__job-block-video

   &__job-block-video {
      flex: 0 1 50%;
      margin: 79px 0px 0px 0px;
      border-radius: 50px;
   }

   // .page__job-block-video-link

   &__job-block-video-link {
   }

   // ===============       ====================

   // .page__about-us

   &__about-us {
      margin: 119px 0px 0px 0px;
   }

   // .page__about-us-content

   &__about-us-content {
      max-width: 1110px;
      margin: 0 auto;
   }

   // .page__about-us-content-title

   &__about-us-content-title {
   }

   // .page__about-us-content-title-h1

   &__about-us-content-title-h1 {
      font-size: 40px;
      font-weight: 400;
      line-height: 50px;
      letter-spacing: 0.05em;
      text-align: center;
      color: #353434;
      margin: 0px 0px 20px 0px;
   }

   // .page__about-us-content-title-text

   &__about-us-content-title-text {
      width: 543px;
      font-family: Open Sans;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.02em;
      text-align: center;
      padding: 0px 0px 45px 0px;
      margin: 0 auto;
   }

   // .page__about-us-content-card

   &__about-us-content-card {
      display: flex;
      justify-content: space-between;
   }

   // .page__about-us-content-card-block

   &__about-us-content-card-block {
      width: 350px;
      height: 254px;
      top: 1625px;
      left: 165px;
      gap: 0px;
      border-radius: 20px;
      opacity: 0px;
      margin: 0px 30px 0px 0px;
      box-shadow: -1px 1px 20px 0px #8080801a;
      padding: 40px 34px 0px 37px;
   }

   // .page__about-us-content-card-block-2

   &__about-us-content-card-block-2 {
      width: 350px;
      height: 254px;
      top: 1610px;
      left: 545px;
      gap: 0px;
      border-radius: 20px;
      opacity: 0px;
      background-color: #f9faff;
      box-shadow: 0px 12px 30px 0px #47474726;
   }

   // .page__about-us-content-card-block-picture

   &__about-us-content-card-block-picture {
      position: relative;
      top: 12px;
      left: 12px;
      // position: relative;
      // top: 1278px;
      // left: 215px;
      // gap: 0px;
      // opacity: 0px;
   }

   // .page__about-us-content-card-block-h2

   &__about-us-content-card-block-h2 {
      font-family: Open Sans;
      font-size: 20px;
      font-weight: 600;
      line-height: 30px;
      letter-spacing: 0.02em;
      text-align: left;
      color: #323232;
      margin: 22px 0px 15px 0px;
   }

   // .page__about-us-content-card-block-text

   &__about-us-content-card-block-text {
      width: 276px;
      font-family: Open Sans;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0.02em;
      text-align: left;
   }

   // .page__about-us-content-card-block-img-1

   &__about-us-content-card-block-img-1 {
      width: 60px;
      height: 60px;
      top: 1665px;
      left: 202px;
      gap: 0px;
      border-radius: 7px;
      opacity: 0px;
      background-color: #6156dc;
   }

   // .page__about-us-content-card-block-img-2

   &__about-us-content-card-block-img-2 {
      width: 60px;
      height: 60px;
      top: 1665px;
      left: 202px;
      gap: 0px;
      border-radius: 7px;
      opacity: 0px;
      background-color: #ef6010;
   }

   // .page__about-us-content-card-block-img-3

   &__about-us-content-card-block-img-3 {
      width: 60px;
      height: 60px;
      top: 1665px;
      left: 202px;
      gap: 0px;
      border-radius: 7px;
      opacity: 0px;
      background-color: #a73eed;
   }

   // ============     ====================

   // .page__vacancies

   &__vacancies {
      margin: 119px 0px 119px 0px;
   }

   // .page__vacancies-content

   &__vacancies-content {
      max-width: 1461px;
      margin: 0 auto;
   }

   // .page__vacancies-content-title

   &__vacancies-content-title {
      margin: 0px 0px 45px 0px;
   }

   // .page__vacancies-content-title-h1

   &__vacancies-content-title-h1 {
      font-size: 40px;
      font-weight: 400;
      line-height: 50px;
      letter-spacing: 0.05em;
      text-align: center;
      color: #353434;
      margin: 0px 0px 20px 0px;
   }

   // .page__vacancies-content-title-text

   &__vacancies-content-title-text {
      width: 543px;
      font-family: Open Sans;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.02em;
      text-align: center;
      padding: 0px 0px 45px 0px;
      margin: 0 auto;
   }

   // .page__vacancies-content-arrow

   &__vacancies-content-arrow {
      display: flex;
      align-items: center;
   }

   // .page__vacancies-content-arrow-left

   &__vacancies-content-arrow-left {
      margin: 0px 10px 0px 0px;
   }

   // .page__vacancies-content-arrow-right

   &__vacancies-content-arrow-right {
      margin: 0px 51px 0px 10px;
   }

   // .page__vacancies-content-card

   &__vacancies-content-card {
      display: flex;
      justify-content: space-between;
      margin: 0px 0px 76px 0px;
   }

   // .page__vacancies-content-card-block-1

   &__vacancies-content-card-block-1 {
      width: 380px;
      height: 100%;
      border-radius: 20px 0px 0px 0px;
      background-color: #f9faff;
      box-shadow: 0px 12px 30px 0px #47474726;
      margin: 0px 65px 0px 0px;
   }

   // .page__vacancies-content-card-block-img-1

   &__vacancies-content-card-block-img-1 {
      display: flex;
      justify-content: center;
   }

   // .page__vacancies-content-card-block-picture

   &__vacancies-content-card-block-picture {
      margin: 47px 0px 41px 0px;
   }

   // .page__vacancies-content-card-block-etc

   &__vacancies-content-card-block-etc {
      display: flex;
      justify-content: end;
      margin: 40px 40px 0px 0px;
   }

   // .page__vacancies-content-card-block-h2

   &__vacancies-content-card-block-h2 {
      font-family: Open Sans;
      font-size: 20px;
      font-weight: 400;
      line-height: 50px;
      letter-spacing: 0.02em;
      text-align: center;
      color: #323232;
      margin: 0px 0px 16px 0px;
   }

   // .page__vacancies-content-card-block-h3

   &__vacancies-content-card-block-h3 {
      font-family: Open Sans;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0.02em;
      text-align: center;
      color: #4238af;
      margin: 0px 0px 44px 0px;
   }

   // .page__vacancies-content-card-block-price

   &__vacancies-content-card-block-price {
      font-family: Open Sans;
      font-size: 16px;
      font-weight: 400;
      line-height: 50px;
      letter-spacing: 0.02em;
      text-align: center;
      color: #323232;
      margin: 0px 0px 7px 0px;
   }

   // .page__vacancies-content-card-block-price-picture-span

   &__vacancies-content-card-block-price-picture-span {
   }

   // .page__vacancies-content-card-block-price-img

   &__vacancies-content-card-block-price-img {
      margin: 15px auto;
   }

   // .page__vacancies-content-card-block-price-span

   &__vacancies-content-card-block-price-span {
      font-family: Open Sans;
      font-size: 14px;
      font-weight: 400;
      line-height: 50px;
      letter-spacing: 0.02em;
      text-align: center;
      color: #323232;
   }

   // .page__vacancies-content-card-block-location

   &__vacancies-content-card-block-location {
      font-family: Open Sans;
      font-size: 16px;
      font-weight: 400;
      line-height: 50px;
      letter-spacing: 0.02em;
      text-align: center;
      color: #323232;
      margin: 7px 0px 0px 0px;
   }

   // .page__vacancies-content-card-block-location-picture-span

   &__vacancies-content-card-block-location-picture-span {
   }

   // .page__vacancies-content-card-block-location-img

   &__vacancies-content-card-block-location-img {
      margin: 15px auto;
   }

   // .page__vacancies-content-card-block-location-span

   &__vacancies-content-card-block-location-span {
      font-family: Open Sans;
      font-size: 16px;
      font-weight: 400;
      line-height: 50px;
      letter-spacing: 0.02em;
      text-align: center;
      color: #323232;
   }

   // .page__vacancies-content-card-block-btn-1

   &__vacancies-content-card-block-btn-1 {
      margin: 33px 0px 47px 0px;
      display: flex;
      justify-content: space-evenly;
   }

   // .page__vacancies-content-card-block-btn-1-like

   &__vacancies-content-card-block-btn-1-like {
   }

   // .page__vacancies-content-card-block-btn-1-text

   &__vacancies-content-card-block-btn-1-text {
      width: 152px;
      height: 100%;
      border-radius: 47px;
      background-color: #544cac;
      font-family: Open Sans;
      font-size: 16px;
      font-weight: 400;
      line-height: 62px;
      letter-spacing: 0.02em;
      text-align: center;
      color: white;
      box-shadow: 0px 4px 12px 0px #00000033;
   }

   // .page__vacancies-content-card-block

   &__vacancies-content-card-block {
      width: 380px;
      height: 100%;
      border-radius: 20px 0px 0px 0px;
      box-shadow: -1px 1px 20px 0px #8080801a;
      background-color: #ffffff;
      margin: 80px 65px 0px 0px;
   }

   // .page__vacancies-content-card-block-img-2

   &__vacancies-content-card-block-img-2 {
      display: flex;
      justify-content: center;
   }

   // .page__vacancies-content-card-block-btn

   &__vacancies-content-card-block-btn {
      margin: 33px 0px 47px 0px;
      display: flex;
      justify-content: space-evenly;
   }

   // .page__vacancies-content-card-block-btn-like

   &__vacancies-content-card-block-btn-like {
   }

   // .page__vacancies-content-card-block-btn-text

   &__vacancies-content-card-block-btn-text {
      width: 152px;
      height: 100%;
      border-radius: 47px;
      background-color: #38318b54;
      font-family: Open Sans;
      font-size: 16px;
      font-weight: 400;
      line-height: 62px;
      letter-spacing: 0.02em;
      text-align: center;
      color: #38318b;
   }

   // .page__vacancies-content-card-block-img-3

   &__vacancies-content-card-block-img-3 {
      display: flex;
      justify-content: center;
   }

   // .page__vacancies-content-btn

   &__vacancies-content-btn {
      width: 152px;
      height: 100%;
      border-radius: 47px;
      background-color: #544cac;
      box-shadow: 0px 4px 12px 0px #00000033;
      margin: 0 auto;
      text-align: center;
   }

   // .page__vacancies-content-btn-text

   &__vacancies-content-btn-text {
      font-family: Open Sans;
      font-size: 16px;
      font-weight: 400;
      line-height: 62px;
      letter-spacing: 0.02em;
      text-align: center;
      color: white;
   }

   // ============     ====================

   // .page__reviews

   &__reviews {
      width: 1110px;
      margin: 0 auto;
   }

   // .page__reviews-content

   &__reviews-content {
      margin: 119px 0px 119px 0px;
   }

   // .page__reviews-content-header

   &__reviews-content-header {
   }

   // .page__reviews-content-header-h2

   &__reviews-content-header-h2 {
      font-size: 40px;
      font-weight: 400;
      line-height: 50px;
      letter-spacing: 0.05em;
      text-align: center;
      color: #353434;
      margin: 0px 0px 20px 0px;
   }

   // .page__reviews-content-header-text

   &__reviews-content-header-text {
      width: 543px;
      font-family: Open Sans;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.02em;
      text-align: center;
      padding: 0px 0px 45px 0px;
      margin: 0 auto;
   }

   // .page__reviews-content-block

   &__reviews-content-block {
      display: flex;
   }

   // .page__reviews-block-picture

   &__reviews-block-picture {
      flex: 0 1 35%;
      margin: 25px 0px 0px 0px;
   }

   // .page__reviews-block-picture-photo

   &__reviews-block-picture-photo {
   }

   // .page__reviews-block-picture-dots

   &__reviews-block-picture-dots {
      position: relative;
      top: 325px;
      left: 10px;
   }

   // .page__reviews-block-picture-vector

   &__reviews-block-picture-vector {
      position: relative;
      top: 70px;
      left: 10px;
   }

   // .page__reviews-block-title

   &__reviews-block-title {
      flex: 0 1 65%;
      margin: 80px 0px 0px 0px;
   }

   // .page__reviews-block-title-h3

   &__reviews-block-title-h3 {
      font-family: Open Sans;
      font-size: 20px;
      font-weight: 600;
      line-height: 30px;
      letter-spacing: 0.02em;
      text-align: left;
      color: #323232;
      margin: 40px 0px 13px 0px;
   }

   // .page__reviews-block-title-h4

   &__reviews-block-title-h4 {
      font-family: Open Sans;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.02em;
      text-align: left;
      color: #868686;
      margin: 0px 0px 39px 0px;
   }

   // .page__reviews-block-title-img-rating

   &__reviews-block-title-img-rating {
      display: flex;
      justify-content: end;
      margin: 0px 0px 3px 0px;
   }

   // .page__reviews-block-title-text

   &__reviews-block-title-text {
      width: 730px;
      font-family: Open Sans;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.02em;
      text-align: left;
      color: #383838;
      margin: 3px 0px 0px 0px;
   }

   // .page__reviews-block-title-img

   &__reviews-block-title-img {
      display: flex;
      justify-content: space-between;
   }

   // .page__reviews-block-title-img-arrow

   &__reviews-block-title-img-arrow {
      margin: 51px 0px 0px 0px;
   }

   // .page__reviews-block-title-arrow-left

   &__reviews-block-title-arrow-left {
      margin: 0px 7px 0px 0px;
   }

   // .page__reviews-block-title-arrow-right

   &__reviews-block-title-arrow-right {
      margin: 0px 0px 0px 7px;
   }

   // .page__reviews-block-title-followers

   &__reviews-block-title-followers {
      margin: 39px 0px 0px 0px;
   }

   // ============     ====================

   // .page__statistics

   &__statistics {
      display: flex;
      justify-content: space-around;
      width: 1110px;
      border-radius: 30px;
      background-color: #ced5f4;
      margin: 0 auto;
   }

   // .page__statistics-iformation

   &__statistics-iformation {
      padding: 74px 0px 74px 0px;
   }

   // .page__statistics-iformation-h3

   &__statistics-iformation-h3 {
      font-size: 40px;
      font-weight: 400;
      line-height: 50px;
      letter-spacing: 0.05em;
      text-align: center;
      color: #584ec6;
      margin: 0px 0px 14px 0px;
   }

   // .page__statistics-iformation-h4

   &__statistics-iformation-h4 {
      font-family: Open Sans;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.02em;
      text-align: center;
      color: #ffffff;
   }

   // ============     ====================

   // .page__price

   &__price {
      margin: 119px 0px 0px 0px;
   }

   // .page__price-content

   &__price-content {
      width: 1110px;
      margin: 0 auto;
   }

   // .page__price-content-title

   &__price-content-title {
      margin: 0px 0px 45px 0px;
   }

   // .page__price-content-title-h1

   &__price-content-title-h1 {
      font-size: 40px;
      font-weight: 400;
      line-height: 50px;
      letter-spacing: 0.05em;
      text-align: center;
      color: #353434;
      margin: 0px 0px 20px 0px;
   }

   // .page__price-content-title-text

   &__price-content-title-text {
      width: 543px;
      font-family: Open Sans;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.02em;
      text-align: center;
      padding: 0px 0px 45px 0px;
      margin: 0 auto;
   }

   // .page__price-content-card

   &__price-content-card {
      display: flex;
      justify-content: space-between;
   }

   // .page__price-content-card-block

   &__price-content-card-block {
      width: 350px;
      height: 100%;
      border-radius: 20px;
      box-shadow: -1px 1px 20px 0px #8080801a;
      margin: 75px 0px 0px 0px;
   }

   // .page__price-content-card-block-h2

   &__price-content-card-block-h2 {
      font-family: Open Sans;
      font-size: 20px;
      font-weight: 600;
      line-height: 30px;
      letter-spacing: 0.02em;
      text-align: center;
      color: #4238af;
      margin: 63px 0px 31px 0px;
   }

   // .page__price-content-card-block-h3

   &__price-content-card-block-h3 {
      font-size: 45px;
      font-weight: 400;
      line-height: 55px;
      letter-spacing: 0.07em;
      text-align: center;
      color: #353434;
      margin: 0px 0px 24px 0px;
   }

   // .page__price-content-card-block-h4

   &__price-content-card-block-h4 {
      font-family: Open Sans;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.02em;
      text-align: center;
      color: #8a86b9;
      margin: 0px 0px 71px 0px;
   }

   // .page__price-content-card-block-list

   &__price-content-card-block-list {
      list-style-type: none;
   }

   // .page__price-content-card-block-list-link

   &__price-content-card-block-list-link {
      background-image: url(/image/Group.png);
      background-position: 50px 5px;
      background-repeat: no-repeat;
      font-family: Open Sans;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.02em;
      text-align: center;
      color: #a8a8a8;
      padding: 0px 0px 19px 0px;
   }

   // .page__price-content-card-block-btn

   &__price-content-card-block-btn {
      width: 172px;
      height: 100%;
      border-radius: 50px;
      text-align: center;
      background-color: #bdbbd9;
      margin: 62px 80px;
   }

   // .page__price-content-card-block-btn-text

   &__price-content-card-block-btn-text {
      font-family: Open Sans;
      font-size: 16px;
      font-weight: 400;
      line-height: 62px;
      letter-spacing: 0.02em;
      text-align: center;
      color: white;
   }

   // .page__price-content-card-block-2

   &__price-content-card-block-2 {
      width: 350px;
      height: 100%;
      border-radius: 20px 0px 0px 0px;
      box-shadow: 0px 12px 30px 0px #47474726;
      background-color: #f9faff;
   }

   // .page__price-content-card-block-btn-2

   &__price-content-card-block-btn-2 {
      width: 172px;
      height: 100%;
      border-radius: 50px;
      background-color: #544cac;
      text-align: center;
      margin: 62px 80px;
   }

   // .page__price-content-card-block-btn-text-2

   &__price-content-card-block-btn-text-2 {
      font-family: Open Sans;
      font-size: 16px;
      font-weight: 400;
      line-height: 62px;
      letter-spacing: 0.02em;
      text-align: center;
      color: white;
   }

   // ============     ====================
}
