@import "_reset.scss";
@import "_block-header";
@import "_block-partners.scss";
@import "_block-job.scss";
@import "_block-about-us.scss";
@import "_block-vacancies.scss";
@import "_block-reviews.scss";
@import "_block-statistics.scss";
@import "_block-price.scss";
@import "_footer.scss";

body {
   height: 100%;
   line-height: 1;
   font-family: Open Sans;
   font-size: 14px;
   color: #a8a8a8;
   @media (max-width: 1199.98px) {
      max-width: 100%;
   }
   @media (max-width: 990.98px) {
      max-width: 100%;
   }
   @media (max-width: 767.98px) {
      max-width: none;
   }
}

.main {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   // .main__container

   &__container {
   }
}

//     ===========      ===========

.page {
   flex: 1 1 auto;

   // .page__content

   &__content {
      background-color: #f5f7ff;
   }

   // ========     ==============

   // page__content-block

   &__content-block {
      max-width: 1110px;
      margin: 0px auto;
   }

   // .page__content-title

   &__content-title {
      display: flex;
      @media (max-width: 1199.98px) {
         padding: 0px 0px 20px 20px;
      }
      @media (max-width: 990.98px) {
         min-height: 0;
         flex-direction: column;
         padding: 0px 0px 20px 20px;
      }
   }

   // page__content-title-info

   &__content-title-info {
      flex: 0 1 50%;
   }

   // page__content-title-info-h1

   &__content-title-info-h1 {
      font-family: Open Sans;
      font-size: 45px;
      font-weight: 400;
      line-height: 55px;
      letter-spacing: 0.07em;
      text-align: left;
      color: #353434;
      margin: 125px 0px 0px 0px;
      padding: 0px 0px 18px 0px;
   }

   // page__content-title-info-span

   &__content-title-info-span {
      color: #ff5c00;
   }

   // page__content-title-info-text

   &__content-title-info-text {
      font-family: Open Sans;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.02em;
      text-align: left;
      padding: 0px 0px 30px 0px;
   }

   // .page__content-btn

   &__content-btn {
   }

   // .page__content-btn-1

   &__content-btn-1 {
      width: 150px;
      height: 44px;
      border-radius: 6px;
      background: #544cac;
      color: #fff;
      margin: 0px 34px 0px 0px;
   }

   // .page__content-btn-2

   &__content-btn-2 {
      width: 150px;
      height: 44px;
   }

   // .page__content-btn-2-text

   &__content-btn-2-text {
      font-family: Open Sans;
      font-size: 14px;
      font-weight: 400;
      line-height: 42px;
      letter-spacing: 0.02em;
      text-align: center;
      color: #000;
      margin: 0px 0px 0px 5px;
   }

   // page__content-btn-2-img

   &__content-btn-2-img {
      margin: 0px 5px 0px 0px;
   }

   // .page__content-image

   &__content-image {
      flex: 0 1 50%;
      margin: 56px 0px 0px 0px;
      width: 100%;
   }
}
